.main {
    margin: 8vh;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}

.list-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}