#create-vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}

#create-vote-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    align-items: start;
    margin-bottom: 2vh;
    min-height: 35vw;
}

#create-vote-title {
    margin-bottom: 1vh;
}

#create-vote-text {
    margin-bottom: 1vh;
}

.add-choice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
}