.file-lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

.file-list {
  margin: 0 10px 20px;
}

.file-list-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.file-list-li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.user-select-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.users-documents{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}