.donate-form{
    display: flex;
    flex-direction:column;
    min-height: 50vh;
    justify-content: space-around;
}

.amounts-predefined{
    display: flex;
    justify-content: space-around;
    width: 20vw;
}

.paper > div {
    display: flex;
    justify-content: space-between;
}
.stripe-div{
    min-width: 35vw
}