.form-header{
    display: flex;
    flex-direction: row;
}

.form-base{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}   

.form-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
}

.form-input{
    width: 25vw !important;
}